body {
    background-image: url(../images/button-background.jpg);
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive; 
}

div {
    margin: 5px;
    padding: 10px;
}

p {
    padding: 5px;
}

button  {
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15%
}

form {
    margin: 50px;
    align-items: center;
}

#animal-div{
    max-width: 210px;
}

#favorites-div {
    background-image: url(../images/background.jpg);
    float: left;
}

#add-animal, .delete {
    padding: 5px;
    border-radius: 5%;
    margin-top: 1px;
    margin-bottom: 1px;
}